<h4>HTML</h4>

<h2>Table</h2>
<article class="markdown-body"><div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">table</span> <span class="pl-e">at-table</span>=<span class="pl-s"><span class="pl-pds">"</span>vm.myTableConfig <span class="pl-pds">"</span></span> <span class="pl-e">at-paginated</span>=<span class="pl-s"><span class="pl-pds">"</span>5<span class="pl-pds">"</span></span>&gt;
    &lt;<span class="pl-ent">thead</span>&gt;
        &lt;<span class="pl-ent">tr</span>&gt;
            &lt;<span class="pl-ent">th</span> <span class="pl-e">at-attribute</span>=<span class="pl-s"><span class="pl-pds">"</span>Select<span class="pl-pds">"</span></span> <span class="pl-e">class</span>=<span class="pl-s"><span class="pl-pds">"</span>text-center<span class="pl-pds">"</span></span>&gt;
                &lt;<span class="pl-ent">input</span> <span class="pl-e">type</span>=<span class="pl-s"><span class="pl-pds">"</span>checkbox<span class="pl-pds">"</span></span> <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>vm.allChecked<span class="pl-pds">"</span></span> <span class="pl-e">ng-change</span>=<span class="pl-s"><span class="pl-pds">"</span>vm.checkboxChange()<span class="pl-pds">"</span></span>/&gt;
            &lt;/<span class="pl-ent">th</span>&gt;
    &lt;/<span class="pl-ent">thead</span>&gt;        
    &lt;<span class="pl-ent">tbody</span>&gt;
        &lt;<span class="pl-ent">tr</span>&gt;
            &lt;<span class="pl-ent">td</span> <span class="pl-e">at-attribute</span>=<span class="pl-s"><span class="pl-pds">"</span>Select<span class="pl-pds">"</span></span> <span class="pl-e">class</span>=<span class="pl-s"><span class="pl-pds">"</span>text-center<span class="pl-pds">"</span></span>&gt;&lt;<span class="pl-ent">input</span> <span class="pl-e">type</span>=<span class="pl-s"><span class="pl-pds">"</span>checkbox<span class="pl-pds">"</span></span> <span class="pl-e">ng-model</span>=<span class="pl-s"><span class="pl-pds">"</span>item.selected<span class="pl-pds">"</span></span> /&gt;&lt;/<span class="pl-ent">td</span>&gt;
            &lt;<span class="pl-ent">td</span> <span class="pl-e">at-sortable</span> <span class="pl-e">at-attribute</span>=<span class="pl-s"><span class="pl-pds">"</span>name<span class="pl-pds">"</span></span> <span class="pl-e">at-title</span>=<span class="pl-s"><span class="pl-pds">"</span>Name<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">td</span>&gt;
        &lt;/<span class="pl-ent">tr</span>&gt;
    &lt;/<span class="pl-ent">tbody</span>&gt;
&lt;/<span class="pl-ent">table</span>&gt;</pre></div>
</article>

<h2>List data</h2>
• You can use 'vm.myTableConfig.getCheckedItems()' function to retrieve all checked items.

<article class="markdown-body"><div class="highlight highlight-text-html-basic"><pre>&lt;<span class="pl-ent">div</span> <span class="pl-e">class</span>=<span class="pl-s"><span class="pl-pds">"</span>col-md-12<span class="pl-pds">"</span></span> <span class="pl-e">ng-repeat</span>=<span class="pl-s"><span class="pl-pds">"</span>checkedItem in vm.myTableConfig.getCheckedItems()<span class="pl-pds">"</span></span> <span class="pl-e">ng-non-bindable</span>&gt;
    {{checkedItem | json}}
&lt;/<span class="pl-ent">div</span>&gt;</pre></div>
</article>


<h4>Javascript</h4>
<article class="markdown-body"><div class="highlight highlight-source-js"><pre>angular.module(<span class="pl-s"><span class="pl-pds">"</span>angular-table-restful-example<span class="pl-pds">"</span></span>).controller(<span class="pl-s"><span class="pl-pds">"</span>apiCtrl<span class="pl-pds">"</span></span>, [<span class="pl-s"><span class="pl-pds">"</span>$http<span class="pl-pds">"</span></span>, <span class="pl-k">function</span>(<span class="pl-smi">$http</span>) {
  <span class="pl-k">var</span> vm <span class="pl-k">=</span> <span class="pl-v">this</span>;

  vm.checkboxChange <span class="pl-k">=</span> checkboxChange;

  <span class="pl-c">//Keep in mind that without the 'changeEvent' function, the API Pagination will NOT work.</span>
  vm.myTableConfig <span class="pl-k">=</span> {
    changeEvent<span class="pl-k">:</span> tableChangeEvt,
    loadOnStartup<span class="pl-k">:</span> <span class="pl-c1">true</span>, <span class="pl-c">//Responsible to load the table when page loads.</span>

    <span class="pl-c">//The 'Primary Key' for your table. Put in here the property that will identify each item.</span>
    <span class="pl-en">checkedKey</span><span class="pl-k">:</span> <span class="pl-k">function</span>() {
        <span class="pl-k">return</span> <span class="pl-s"><span class="pl-pds">"</span>name<span class="pl-pds">"</span></span>;
    },
    <span class="pl-c">//How the table will know that an item is checked? Put here a filter that will tell it that.</span>
    <span class="pl-c">//It can be a string/object/function. See the doc above for 'Angular filter'.</span>
    <span class="pl-en">checkedFilter</span><span class="pl-k">:</span> <span class="pl-k">function</span>() {
        <span class="pl-k">return</span> {
            selected<span class="pl-k">:</span> <span class="pl-c1">true</span>
        };
    },
    <span class="pl-en">checkItem</span><span class="pl-k">:</span> <span class="pl-k">function</span>(<span class="pl-smi">obj</span>, <span class="pl-smi">bool</span>) {
        obj.<span class="pl-c1">selected</span> <span class="pl-k">=</span> bool;
    }
  };

  <span class="pl-k">function</span> <span class="pl-en">tableChangeEvt</span>(<span class="pl-smi">pageInfo</span>, <span class="pl-smi">deferred</span>) {
    <span class="pl-c">//Take a look at it and see the functionalities that you can use.</span>
    <span class="pl-en">console</span><span class="pl-c1">.log</span>(<span class="pl-s"><span class="pl-pds">'</span>vm.myTableConfig<span class="pl-pds">'</span></span>, vm.myTableConfig);

    <span class="pl-k">var</span> page <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">'</span>page<span class="pl-pds">'</span></span> <span class="pl-k">+</span> pageInfo.pageNo <span class="pl-k">+</span> <span class="pl-s"><span class="pl-pds">'</span>.json<span class="pl-pds">'</span></span>;

    $http.get(<span class="pl-s"><span class="pl-pds">'</span>api/<span class="pl-pds">'</span></span> <span class="pl-k">+</span> page).then(<span class="pl-k">function</span>(<span class="pl-smi">successData</span>){      
      deferred.resolve(successData.<span class="pl-c1">data</span>);
    }, <span class="pl-k">function</span>(<span class="pl-smi">errorData</span>){
      <span class="pl-c">//treat error here.</span>
    });
  }

  <span class="pl-c">//When the 'checkAll' checkbox gets triggered.</span>
  <span class="pl-k">function</span> <span class="pl-en">checkboxChange</span>() {
      <span class="pl-c">//This function will trigger the 'checkItem' function for each item in the currentPage checking or unchecking them all.</span>
      vm.myTableConfig.checkAllItems(vm.allChecked);
  }

}])</pre></div>
</article>