<div class="row" ng-controller="apiCtrl as vm">
	<div class="col-md-12" ng-if="vm.apiError" style="border: 1px red solid; background:#FAAFBE; margin-bottom:15px; padding: 15px;">
		<span>Something went wrong with the API call :(</span>
	</div>	

	<div class="col-md-8">		
	    <table at-table="vm.myTableConfig " at-paginated="5">
			<thead>
			    <tr>
			        <th at-attribute="Select" class="text-center">
			            <input type="checkbox" ng-model="vm.allChecked" ng-change="vm.checkboxChange()"/>
			        </th>
			</thead>	    
	        <tbody>
	            <tr>
	            	<td at-attribute="Select" class="text-center"><input type="checkbox" ng-model="item.selected" /></td>
	                <td at-sortable at-attribute="name" at-title="Name"></td>
	            </tr>
	        </tbody>
	    </table>
	</div>

	<div class="col-md-4">
		<div class="col-md-12 ">
			<button type="button" class="btn btn-primary col-md-12" disabled="disabled">Selected items</button>
		</div>
		<div class="col-md-12" ng-repeat="checkedItem in vm.myTableConfig.getCheckedItems()">
			{{checkedItem | json}}
		</div>
	</div>
</div>