<h2>HTML</h2>
<article class="markdown-body"><div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">table</span> <span class="pl-e">at-table</span>=<span class="pl-s"><span class="pl-pds">"</span>vm.myTableConfig <span class="pl-pds">"</span></span> <span class="pl-e">at-paginated</span>=<span class="pl-s"><span class="pl-pds">"</span>5<span class="pl-pds">"</span></span>&gt;
    &lt;<span class="pl-ent">tbody</span>&gt;
        &lt;<span class="pl-ent">tr</span>&gt;
            &lt;<span class="pl-ent">td</span> <span class="pl-e">at-sortable</span> <span class="pl-e">at-attribute</span>=<span class="pl-s"><span class="pl-pds">"</span>name<span class="pl-pds">"</span></span> <span class="pl-e">at-title</span>=<span class="pl-s"><span class="pl-pds">"</span>Name<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">td</span>&gt;
        &lt;/<span class="pl-ent">tr</span>&gt;
    &lt;/<span class="pl-ent">tbody</span>&gt;
&lt;/<span class="pl-ent">table</span>&gt;</pre></div>
</article>
<h2>Javascript</h2>
<div class="col-md-12" style="border: 1px yellow solid; padding: 10px; background-color: #FFFFE0;">
  <p>The only thing that you need for the API Pagination to work is the 'vm.myTableConfig' object along with the 'changeEvent' function. All the other things are up to you and are shown here for example purpose.</p>
  <p>Check out the 'vm.myTableConfig' object at the console log for more details.</p>
</div>
<article class="markdown-body"><div class="highlight highlight-source-js"><pre><code class="javascript">    angular.module(&quot;angular-table-restful-example&quot;).controller(&quot;apiCtrl&quot;, [&quot;$http&quot;, &quot;$scope&quot;, function($http, $scope) {
  var vm = this;

  vm.clear = clear;
  vm.refresh = refresh;
  vm.hasData = hasData;

  //Keep in mind that without the 'changeEvent' function, the API Pagination will NOT work.
  vm.myTableConfig = {
    changeEvent: tableChangeEvt,
    loadOnStartup: true //Responsible to load the table when page loads.
  };

  $scope.$on('Angular-Table-Restful.TableUpdated', tableChanged);
  $scope.$on('Angular-Table-Restful.ListChanged', tableChanged);

  function tableChanged(e, atConfig) {
      var list = atConfig.getList();
      var currentPage = atConfig.currentPage;
      //....
      // Do many wonderful things everytime the table is changed
      //...
  }

  function tableChangeEvt(pageInfo, deferred) {
    //Take a look at it and see the functionalities that you can use.
    console.log('vm.myTableConfig', vm.myTableConfig);

    var page = 'page' + pageInfo.pageNo + '.json';

    $http.get('api/' + page).then(function(successData){
      vm.apiError = false;      
      deferred.resolve(successData.data);
    }, function(errorData){
      vm.apiError = true;
    });
  }

  //These are some examples of functionalities that you can use.
  //For a full view check out the 'vm.myTableConfig' object at the console log or the docs.
  function refresh(){
    vm.myTableConfig.refresh();
  }

  function clear(){
    vm.myTableConfig.clearData(); 
  }

  function hasData(){
    return vm.myTableConfig.hasData(); 
  }

}])
</code></pre></div>
</article>