<h4>HTML</h4>
<article class="markdown-body"><div class="highlight highlight-html"><pre>&lt;<span class="pl-ent">table</span> <span class="pl-e">at-table</span>=<span class="pl-s"><span class="pl-pds">"</span>vm.myTableConfig <span class="pl-pds">"</span></span> <span class="pl-e">at-paginated</span>=<span class="pl-s"><span class="pl-pds">"</span>5<span class="pl-pds">"</span></span>&gt;
    &lt;<span class="pl-ent">tbody</span>&gt;
        &lt;<span class="pl-ent">tr</span>&gt;
            &lt;<span class="pl-ent">td</span> <span class="pl-e">at-sortable</span> <span class="pl-e">at-attribute</span>=<span class="pl-s"><span class="pl-pds">"</span>name<span class="pl-pds">"</span></span> <span class="pl-e">at-title</span>=<span class="pl-s"><span class="pl-pds">"</span>Name<span class="pl-pds">"</span></span>&gt;&lt;/<span class="pl-ent">td</span>&gt;
        &lt;/<span class="pl-ent">tr</span>&gt;
    &lt;/<span class="pl-ent">tbody</span>&gt;
&lt;/<span class="pl-ent">table</span>&gt;</pre></div>
</article>
<h4>Javascript</h4>
<div class="col-md-12" style="border: 1px yellow solid; padding: 10px; background-color: #FFFFE0;">
  <p>The only thing that you need for the API Pagination to work is the 'vm.myTableConfig' object along with the 'changeEvent' function. All the other things are up to you and are shown here for example purpose.</p>
  <p>Check out the 'vm.myTableConfig' object at the console log for more details.</p>
</div>
<article class="markdown-body"><div class="highlight highlight-javascript"><pre>angular.module(<span class="pl-s"><span class="pl-pds">"</span>angular-table-restful-example<span class="pl-pds">"</span></span>).controller(<span class="pl-s"><span class="pl-pds">"</span>apiCtrl<span class="pl-pds">"</span></span>, [<span class="pl-s"><span class="pl-pds">"</span>$http<span class="pl-pds">"</span></span>, <span class="pl-k">function</span>(<span class="pl-smi">$http</span>) {
  <span class="pl-k">var</span> vm <span class="pl-k">=</span> <span class="pl-v">this</span>;

  vm.<span class="pl-c1">clear</span> <span class="pl-k">=</span> clear;
  vm.refresh <span class="pl-k">=</span> refresh;
  vm.hasData <span class="pl-k">=</span> hasData;

  <span class="pl-c">//Keep in mind that without the 'changeEvent' function, the API Pagination will NOT work.</span>
  vm.myTableConfig <span class="pl-k">=</span> {
    changeEvent<span class="pl-k">:</span> tableChangeEvt,
    loadOnStartup<span class="pl-k">:</span> <span class="pl-c1">true</span> <span class="pl-c">//Make sure to load the table when page loads.</span>
  };

  <span class="pl-k">function</span> <span class="pl-en">tableChangeEvt</span>(<span class="pl-smi">pageInfo</span>, <span class="pl-smi">deferred</span>) {
    <span class="pl-c">//Take a look at it and see the functionalities that you can use.</span>
    <span class="pl-en">console</span><span class="pl-c1">.log</span>(<span class="pl-s"><span class="pl-pds">'</span>vm.myTableConfig<span class="pl-pds">'</span></span>, vm.myTableConfig);

    <span class="pl-k">var</span> page <span class="pl-k">=</span> <span class="pl-s"><span class="pl-pds">'</span>page<span class="pl-pds">'</span></span> <span class="pl-k">+</span> pageInfo.pageNo <span class="pl-k">+</span> <span class="pl-s"><span class="pl-pds">'</span>.json<span class="pl-pds">'</span></span>;

    $http.get(<span class="pl-s"><span class="pl-pds">'</span>api/<span class="pl-pds">'</span></span> <span class="pl-k">+</span> page).then(<span class="pl-k">function</span>(<span class="pl-smi">successData</span>){
        <span class="pl-k">var</span> data <span class="pl-k">=</span> prepareData(successData.<span class="pl-c1">data</span>);
        deferred.resolve(data);
    }, <span class="pl-k">function</span>(<span class="pl-smi">errorData</span>){
        vm.apiError <span class="pl-k">=</span> <span class="pl-c1">true</span>;
    });
  }

  <span class="pl-c">//This function could be an interceptor, just treat the API response</span>
  <span class="pl-k">function</span> <span class="pl-en">prepareData</span>(<span class="pl-smi">data</span>){
    <span class="pl-k">var</span> extractedData <span class="pl-k">=</span> [];

    extractedData <span class="pl-k">=</span> data.pageItems;

    <span class="pl-c">//totalCount -&gt; Total count of all items (e.g.: 3 pages with 5 items each, totalCount: 15).</span>
    extractedData.totalCount <span class="pl-k">=</span> data.totalCount;

    <span class="pl-c">//pageNo -&gt; The page that the API will retreive (same value that the pageInfo.pageNo has).</span>
    extractedData.pageNo <span class="pl-k">=</span> data.pageNo;

    <span class="pl-k">return</span> extractedData;
  }

  <span class="pl-k">function</span> <span class="pl-en">refresh</span>(){
    vm.myTableConfig.refresh();
  }

  <span class="pl-k">function</span> <span class="pl-en">clear</span>(){
    vm.myTableConfig.clearData(); 
  }

  <span class="pl-k">function</span> <span class="pl-en">hasData</span>(){
    <span class="pl-k">return</span> vm.myTableConfig.hasData(); 
  }

}])</pre></div>
</article>